<div class="main">
  <div class="copy-container">
    <h1>HappyTrade</h1>
    <h2>交換でHappyを広げよう!</h2>
    <%= image_tag "topmain.jpg", class:"main-image" %>
  </div>
  <div class="contents">
    <%= link_to "アイテム登録 ", new_item_path, class: :register %>
    <p class="register_nav">交換する商品を登録してね</p>
  </div>  
</div>



