/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #034D07;
  font-weight: bold;
}

/* ヘッダー */

.header {
  background-color: #00bb85;
  padding: 20px 0;

}
.header inner {
  width: 100%;
  margin: 10px 600px 10px 5px;
  
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.logo {
  width: 400px;
}
.nav__left {
  float: left;
}
.nav__right {
  padding-top: 25px;
  float: right;
}

.nav__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #034D07;
  text-decoration: none;
  user-select: none;
  border: 1px #034D07 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #034D07;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #034D07;
  text-decoration: none;
  user-select: none;
  border: 1px #034D07 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-left: 10px
}
.nav__logout:hover{
  color: #fff;
  background: #034D07;
}

/* トップページ */

h1 { font-size: 120px;
}

h2 { font-size: 40px;
}

.copy-container h1{
  font-family: "Nico Moji";
}

.main-image {
  height: 450px;
  width: 100vh;
  margin-left: 20px;
}

.copy-container {
  padding: 0 325px;
}

.register {
  border: 1px solid #034D07;
  display: inline-block;
  font-size: 50px;
  color: #034D07;
  background-color: #ffffef;
  padding: 70px;
  margin: 100px 325px 0 325px;
  position: relative
}

.register_nav {
  font-size: 20px;
  position: absolute;
  top: 1050px;
  left: 420px
}

.item-contents h2 {
  margin: 100px 0 0 500px;
}

.item-lists {
  margin: 0 215px;
}

.list {
  float:left;
}

.item-img {
  padding: 15px;
  height: 250px;
}

.item-name {
  margin: 3px 0 0 12px;
}

.no-item-list h3 {
  font-size: 30px;
  color: #00bb85;
  margin: 0 240px;
}

/* フォーム周り */

.form__wrapper {
  min-height: calc(100vh - 161px);
  padding-left: 475px;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #034D07;
  border: 1px #034D07 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.error-message {
  color: #556b2f;
}

/* 新規登録ページ */

.page-heading {
  color: #034D07;
}

.form-info-header{
  font-size: 1.5em;
  color:#034D07;
  margin-bottom: 10px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.field_favorite{
  margin-bottom: 50px;
}

.field_name{
  margin-top: 25px;
}

.input-birth-wrap{
  display:flex;
}

.register-btn{
  margin-top: 100px;
}

.register-red-btn {
  width: 50%;
  background: #034D07;
  border: 1px solid #034D07;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* ログインページ */
.form__wrapper2 {
  padding-left: 600px;
}

.login-flash-message {
  color: #556b2f;
}

/* 商品登録ページ */

.items-sell-title {
  color: #034D07;
}

.items-sell-main {
  margin: 0 450px;
}

.items-sell-title {
  margin-bottom: 20px;
}

.items-text {
  width: 500px;
}

.weight-bold-text {
  font-weight: bold;
}

.item-scheduled-delivery {
  margin-bottom: 50px;
}

.sell-btn-contents {
  margin: 25px 0 60px 0;
}

.sell-btn {
  border: 1px solid #034D07;
  background-color: #034D07;
  color: #fff;
  padding: 15px 225px;
  font-size: 15px;
  position: relative;
}

.back-btn {
  display: block;
  border: 1px solid #034D07;
  margin-top: 10px;
  padding: 0 200px;
  position: absolute;
  left: 480px;
}

/* アイテム詳細ページ */
.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  margin-bottom: 30px;
}

.item_green_btn {
  text-align: center;
  background-color: #034D07;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  
}

.or-text {
  font-size: 20px;
  margin-top: 17px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.detail-table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.wanted_item {
  width: 20%;
  color: #034D07;
  background-color: #ffffef;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.wanted_value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  color: #034D07;
  background-color: #ffffef;
}

/* コメント機能 */

.container {
  background-color: #fff;
  min-width: 1200px;
  padding: 10vh 15vw;
  margin-top: 50px;
  position: relative;
}

.comment-text {
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 10px;
}

.send {
  width: 100%;
  background-color: #00bb85;
  border-radius: 20px;
  border: 1px solid #00bb85;
  font-size: 20px;
  font-weight: bold;
  color: #034D07;
}

.comments {
  margin-bottom: 30px;
}

.comments h4 {
  font-weight: bold;
}

.comments strong {
  color: #00bb85;
}

.container strong p {
  color: #034D07;
}

.comment-button {
  border-radius: 20px;
  background-color: #ffffef;
  color: #034D07;
  font-weight: bold;
  border: 1px solid #034D07;
  padding: 5px;
  margin-top: 10px;
}

.item-trade {
  border: 1px solid #034D07;
  font-size: 20px;
  padding: 5px;
  background-color: #034D07;
  color: #FFF;
  position: absolute;
}

/* アイテム交換ページ */

.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
  margin: 40px;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
  color: #034D07;
}

/* 購入内容の表示 */
.trade-item-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trade-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.trade-item-right-content {
  display: flex;
  flex-direction: column;
}

.trade-item-text {
  font-size: 20px;
}

/* /購入内容の表示 */

/* 配送先の入力 */

.shipping-address-form {
  margin-top: 15px;
  padding-left: 260px;
}

.info-input-haedline {
  font-size: 22px;
  color:#034D07;
  margin-bottom: 10px;
}

.input-default {
  width: 125px;
  height: 30px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  margin-bottom: 10px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-red-btn {
  width: 100%;
  background: #034D07;
  border: 1px solid #034D07;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}